/* home page */
/* Màu */
:root {
  --primary-color: #051367;
  --backgroud-color: #99ddfc;
}

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h2 {
  margin-bottom: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: #000;
  background-color: var(--backgroud-color);
}

.img-background {
  width: 180px;
  height: 60px;
}

.container {
  max-width: 100%;
}

.container-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: rgb(30, 144, 255);
  /* dodgerblue */
  border-radius: 15px;
  padding: 25px 10px;
  box-shadow: 0 0 15px rgb(80, 79, 79);
  /* darkgray */
}

.container-form label {
  padding-top: 2.5px;
}


form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

input {
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 5px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: rgb(135, 206, 235);
  /* lightblue */
}

.btns {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: rgb(70, 130, 180);
  /* steelblue */
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px 20px;
}

button:hover {
  background-color: tomato;
  /* red */
}



/* header */
#root {
  width: 100%;
  height: 100px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: rgba(5, 19, 103, 0.95);
  box-shadow: 0px 2px 10px var(--primary-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1000;
}

.main-logo {
  width: 150px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 60px;
}

.fa-solid {
  color: #0d1d6f;
}

.navbar {
  width: 100%;
}

.navbar-item {
  position: relative;
}

.item-link-child,
.item-link {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;

}

.item-link-child {
  display: none;
  position: absolute;
  bottom: -70px;
  right: 50px;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: #0900ff;

}

.item-link-child::after {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 190px;
  height: 40px;
  top: -32px;
  right: -50px;
}

.navbar-item:nth-child(3):hover .item-link-child {
  display: block;
}

.navbar-item:hover .line {
  width: 100%;
}

.line {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: 0.5s linear;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 60px;

}

#user {
  display: flex;
  align-items: center;
  gap: 0 10px;
  position: relative;
}

#user::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
  width: 100px;
  height: 20px;
}

#user .user-link .user-logo {
  width: 60px;
  border-radius: 50%;
}

/* Thông tin người dùng */

.user-subnav {
  display: none;
  position: absolute;
  top: calc(100% + 15px);
  right: -35%;
  background-color: #99b5f5;
  border-radius: 5px;
  box-shadow: 0px 2px 10px -4px rgb(0 0 0);
  z-index: 10000;
  transition: 0.3s linear;
}

#user:hover .user-subnav {
  display: inline-block;
}

.subnav-item {
  padding: 10px 7px;
  text-align: center;
  width: 150px;
  transition: 0.1s ease-in;
}

.subnav-item:hover {
  background-color: var(--primary-color);
  border-radius: 5px;
}

.subnav-link {
  padding: 0 5px;
}



/* end header */



/* ================== slide show =================== */
#body {
  height: 100vh;
  width: 100%;
  position: relative;
}

#body::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: #ccc;
  box-shadow: 0 5px 10px 5px rgb(0 0 0 / 2%);

}


.slideshow-container {
  max-width: 965px;
  position: relative;
  margin: auto;
  margin-top: 10px;
  height: 75vh;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* =============== end slide =================== */


/* =============== feature ==================  */
#feature {
  padding: 0 80px;
  margin-bottom: 100px;
  position: relative;
}

#feature::after {
  content: "";
  position: absolute;
  top: calc(100% + 45px);
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: #ccc;
  box-shadow: 0 5px 10px 5px rgb(0 0 0 / 2%);
}

#feature h3 {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .boxes .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.2s ease-in;
}

#feature .boxes .fe-box:hover {
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
}

#feature .fe-img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  border-radius: 20px;
  color: #994f3c;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #90deff;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #e4e99f;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #76dfec;
}

/* =============== end feature ================ */


/* =============== some voucher ================== */
#voucher {
  text-align: center;
  margin-bottom: 100px;
  padding: 0 80px;
  position: relative;
}

#voucher::after {
  content: "";
  position: absolute;
  top: calc(100% + 45px);
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: #ccc;
  box-shadow: 0 5px 10px 5px rgb(0 0 0 / 2%);
}

#voucher .voucher-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#voucher h2 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

#voucher .card {
  width: 24%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;

}

#voucher .card:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#voucher .card img {
  width: 100%;
  border-radius: 5px;
}

/* ================== end ================== */



/* ================== footer ================== */
#footer {
  width: 100%;
  padding: 0 80px;
}

.footer-box {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
}

#footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

#footer .logo {
  width: 150px;
  margin-bottom: 30px;
}

#footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

#footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

#footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

#footer .follow {
  margin-top: 20px;
}

#footer .install .row img {
  border: 1px solid var(--primary-color);
  border-radius: 6px;
}

#footer .install .row img:hover {
  box-shadow: 0 5px 10px 5px rgb(0 0 0 / 5%);
}



#footer .install img {
  margin: 10px 0 15px 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#footer .install .img-payment {
  width: 200px;
  height: 50px;
}


#footer .follow .icon {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

#footer .follow i {
  color: #000;
  font-size: 20px;
  padding-right: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#footer .follow i:hover,
#footer a:hover {
  transform: translateY(-5px);
}

#footer .copyright {
  width: 100%;
  text-align: center;
}

/* =================== end footer =================== */

/* =============== Transfer money ================ */
#transfer {
  display: flex;
  flex-direction: row;
  background-image: url(http://quickcms.co.in/saharaforex.com/wp-content/uploads/2019/12/Money-Transfer-021.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 86vh;
  padding: 20px 0 20px 65%;
  margin-bottom: 100px;
}

#transfer::after {
  content: "";
  position: absolute;
  top: calc(100% + 45px);
  left: 10%;
  width: 80%;
  height: 0.5px;
  background-color: #ccc;
  box-shadow: 0 5px 10px 5px rgb(0 0 0 / 2%);
}

#transfer .transfer-form {
  background-image: linear-gradient(135deg, #f1c765, #cd84df);
  display: flex;
  flex-direction: column;
  margin-top: 9vh;
  height: 63vh;
  width: 70%;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  color: black;
}

#transfer .transfer-form ul {
  padding-left: 15px;
  padding-top: 10px;
  margin: 5px;
  font-weight: 600;
}

#transfer .transfer-form h2 {
  font-size: 26px;
  line-height: 30px;
  padding: 20px 0 10px 0;
  text-align: center;
}

#transfer .transfer-input,
#transfer textarea {
  width: 95%;
  border-radius: 20px;
  border: none;
  outline-color: #00BFFF;
  justify-content: space-around;
  margin-top: 5px;
  padding: 5px 10px;
}

#transfer .transfer-input[type=number]::-webkit-inner-spin-button,
/* Ẩn đi nút tăng giảm của type number */
.transfer-input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#transfer .btn1 {
  /* Nút button màu mè */
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: black;
  text-align: center;
  background-color: #ffffff;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  position: relative;
  border: 3px solid #ffffff;
  border-radius: 20px;
  width: 97%;
  cursor: pointer;
}

#transfer .btn1:hover {
  background-color: #98FB98;
  color: #778899;
}



#guide {
  /* ----------------------- Phần hướng dẫn */
  padding: 0 100px;
  margin-bottom: 100px;
  position: relative;
}

#guide::after {
  content: "";
  position: absolute;
  top: calc(100% + 45px);
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: #ccc;
  box-shadow: 0 5px 10px 5px rgb(0 0 0 / 2%);
}

#guide .content .guide-box {
  display: flex;
  flex-direction: row;
  width: 400px;
  padding: 30px 0;
  border-radius: 10px;
  margin: 15px 0;
  justify-content: space-around;
}

#guide h1 {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

#guide .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#guide h3 {
  margin-bottom: 20px;
  padding-left: 20px;
}

#guide p {
  margin-bottom: 20px;
  padding-left: 20px;
}

#guide .img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}


#reasonToChoose {
  /* ------------------------ phần lý do */
  padding: 0 80px;
  margin-bottom: 100px;
}

#reasonToChoose::after {
  content: "";
  position: absolute;
  top: calc(100% + 45px);
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: #ccc;
  box-shadow: 0 5px 10px 5px rgb(0 0 0 / 2%);
}

#reasonToChoose h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

#reasonToChoose h3 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 100px;
}


#reasonToChoose .reason-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#reasonToChoose .reaImg {
  width: 45%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.618);
}

#reasonToChoose .reaContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px 0;
}

#reasonToChoose .reaContent p {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0 15px;
}

.checked-icon {
  color: #00ca02;
}

#reasonToChoose .flex-direction {
  display: flex;
  flex-direction: row;
}

/* ================= end transfer ================= */


/* ================= Information ================== */
#infor {
  width: 100%;
  height: 100vh;
}

.info-content {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  padding: 80px 0;
}

.info-img {
  width: 300px;
  border: 2px solid #000;
  margin: 0 auto;
}

.info-box {
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.user-info,
.user-verify {
  margin-left: 50px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 50px 0;
}

.user-name,
.user-phone,
.user-mail,
.user-birth,
.user-balance,
.user-confirm {
  display: flex;
  gap: 0 10px;
  align-items: center;
  font-size: 20px;
}


/* ================= end Ination ================== */









/* RESPONSIVE */






/* payment detail */
.container-detail {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-pay {
  padding: 50px;
  background-color: rgba(0, 191, 255, 0.237);
  width: 1158px;
  height: 80vh;
  border-radius: 20px;
  box-shadow: 7px 7px 10px 0px rgba(0, 191, 255, 0.484);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.line-info {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
  width: 800px;
}

.line-info .box-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
}


.checked {
  background-color: #000;
}



.point-1,
.point-2,
.point-3 {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #000;
  cursor: pointer;
}

.line-detail-1,
.line-detail-2 {
  position: absolute;
  width: 230px;
  height: 1px;
  background-color: #000;
  top: 20%;
}

.line-detail-1 {
  left: 18%;
}

.line-detail-2 {
  right: 18%;
}



.detail-receipt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.detail-box {
  width: 800px;
  height: 350px;
  background-color: #00cac666;
  padding: 50px;
  border-radius: 20px;
}

.form-detail .fname,
.form-detail .phone,
.form-detail .money,
.form-detail .receiptday,
.form-detail .cost-bearer {
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 10px;
}

.detail-box .dtext {
  margin-bottom: 10px;
}

.endshow {
  display: none !important;
}

.show {
  display: block !important;
  justify-content: center;
}

.otp-box {
  width: 400px;
  height: 400px;
  background-color: rgb(0 255 231 / 44%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px 0;
}

.check-otp label {
  font-size: 20px;
  font-weight: bold;
}

.check-otp button {
  margin-top: 20px;
}

/* end payment detail */


/* =============== phần rút tiền ==================== */
.withdraw-content {
  margin-top: 20vh;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.container-withdraw {
  display: flex;
  justify-content: center;
  padding: 30px 80px;
  gap: 0 100px;
  border: 35px solid #9bacff;
  margin-bottom: 100px;
}

.withdraw-info {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.withdraw-img {
  width: 200px;
  border-radius: 50%;
}

.withdraw-phone,
.withdraw-money {

  letter-spacing: 0.2px;
  margin-bottom: 15px;
}

.withdraw-info p {
  margin-bottom: 10px;
}

.withdraw-box label {
  display: block;
  margin-bottom: 5px;
}

.withdraw-box input:nth-child(12) {
  height: 100px;
  width: 300px;
}

/* =============== end phần rút tiền ==================== */


/* responsive */
/* mobile */
@media only screen and (max-width: 600px) {
  #header {
    padding: 10px 20px;
  }

  .fa-solid {
    color: #000;
  }

  .active-nav {
    display: flex !important;
  }

  .box {
    padding: 20px;
    display: none;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 100%;
    background: rgb(69, 97, 255);
  }

  .show-menu {
    display: block;
  }

  .navbar-list {
    flex-direction: column;
    gap: 20px 0;
  }

  .nav-open {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
  }

  #footer {
    padding: 0 20px;
  }

  .footer-box {
    display: block;
  }

  .info-content {
    font-size: 16px;
    padding: 10px 0;
  }

  .info-box {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .info-img {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .user-info,
  .user-verify {

    gap: 20px 0;
  }

  .user-info h3,
  p {
    font-size: 20px;

  }

  .user-verify h3,
  p {
    font-size: 20px;
  }

  #HealthCare {
    font-size: 30px;
  }

  #transfer {
    padding: 0 20px;
  }

  #transfer .transfer-form {
    width: 100%;
  }

  #guide .content .guide-box {
    flex-direction: column;
    align-items: center;
  }

  #reasonToChoose .reason-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #reasonToChoose .reaImg {
    width: 300px;
    margin-bottom: 20px;
  }

  .withdraw-content {
    font-size: 25px;
  }

  .container-withdraw,
  .withdraw-info {
    flex-direction: column;
  }

  .container-withdraw {
    border: none;
    padding: 0 20px;
  }

  .withdraw-box {
    display: flex;
    flex-direction: column;
  }

  .withdraw-box input,
  .withdraw-box input:nth-child(10) {
    width: 100%;
  }

  .withdraw-info {
    margin-top: 50px;
  }

  .container-form {
    margin-top: 20px;
    width: 100%;
  }

  .line-info {
    display: none;
  }

  .container-detail {
    max-width: 100%;
    padding: 50px 20px;
  }

  .detail-pay {
    width: 100%;
    padding: 50px 10px;
    box-shadow: 1px 10px 10px 0px rgb(0 191 255 / 48%);
  }

  .detail-box {
    width: 100%;
    padding: 20px;
  }

  .otp-box {
    width: 100%;
  }

  .show {
    width: 100%;
  }

  #user {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .user-subnav {
    right: 10%;
  }

  .history-box {
    width: 100% !important;
    padding: 20px 0 !important;
  }

  .history-title {
    gap: 0 50px !important;
  }

}

@media only screen and (max-width: 600px) {}



/* ============ Lịch sử giao dịch ================ */
.history-content {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.history-item {
  display: flex;
  gap: 0 30px;
  padding: 20px 25px;
  background-color: #4ba1c07c;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.1s linear;
  cursor: pointer;

}

.history-item:hover {

  box-shadow: 1px 3px 5px rgb(26 81 101);

}

.history-list {
  overflow: hidden;
  overflow-y: scroll;
  height: 380px;
}

.history-title {
  padding: 0 20px;
  display: flex;
  gap: 0 100px;
  margin: 50px 0 20px 0;
}

.history-box {
  width: 800px;

  background-color: #00cac666;
  padding: 50px;
  border-radius: 20px;
}

/* ============= end lịch sử giao dịch =============== */



/* ============= danh sách tài khoản =============== */
.userList-title {
  font-size: 22px;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

.userList-item {
  display: flex;
  gap: 0 25px;
  padding: 20px 10px;
  background-color: #4ba1c07c;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 7px;
  transition: 0.1s linear;
  cursor: pointer;

}

.userList-item:hover {
  box-shadow: 1px 3px 5px rgb(26 81 101);
}

.userList-list {
  overflow: auto;
  height: 300px;
}

.userList-header {
  padding: 0 20px;
  display: flex;
  gap: 0 120px;
  margin: 50px 0 20px 0;
}

.detail-userList {
  display: flex;
  flex-direction: column;
}

.detail-userList .box {
  display: flex;
  flex-direction: row;
}

.userList-box {
  width: 650px;
  background-color: #00cac666;
  padding: 35px;
  margin: 6vh 5px 0 0;
  border-radius: 20px;
}

.userList-status,
.userList-time {
  padding-top: 14px;
  margin-left: auto;
  margin-right: auto;
}


.userList-account {
  display: flex;
  flex-direction: row;
}

.userList-account span {
  padding: 14px 0 0 7px;
}

/* ============= end danh sách tài khoản =============== */


.changePass-content {
  margin-top: 20vh;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.container-changePass {
  display: flex;
  justify-content: center;
  padding: 30px 80px;
  gap: 0 100px;
  border: 35px solid #9bacff;
  margin-bottom: 100px;
}

.changePass-info {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.changePass-info p {
  margin-bottom: 10px;
}

.changePass-box label {
  display: block;
  margin-bottom: 5px;
}


.toast {
  width: 350px;
  height: fit-content;
  min-height: 60px;
  position: fixed;
  z-index: 1000;
  top: 120px;
  right: 80px;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: white !important;
  font-size: 18px;
}

.toast-danger {
  background-color: rgba(223, 71, 89);
}

.toast-success {
  background-color: rgb(71, 223, 91);
}

.message {
  margin-left: 20px;
}

.toast-icon {
  font-size: 18px;
  color: white !important;
}

.forget a {
  color: rgb(75, 255, 255);
  text-decoration: underline;
}

.id-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

}

.profile-id-img {
  width: 500px !important;
}

.btn-changepass {
  display: block !important;
  margin: auto !important;
  margin-top: 10px !important;
  width: 100% !important;
}

.CMND-img {
  max-width: 400px;
  border: 2px solid #000;
}

.upload_image h3 {
  margin-bottom: 20px;
}

.info-box-btn {
  padding: 7px 80px;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}


.upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.upload-id {
  margin: 0 auto;
  width: 90%;
  height: auto;
}

.label-upload-image:hover {
  background-color: rgb(22, 94, 165);
  transition-duration: 0.5s;
}

.label-upload-image {
  cursor: pointer;
  padding: 10px !important;
  background-color: rgb(10, 70, 129);
  border-radius: 10px;
  margin: 5px 0;
  text-align: center;
  color: #fff;
}

.upload-zone {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.upload_id_card {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.image_id {
  margin-top: 5 0px;
}

.hidden {
  display: none;
}

.admin-user-id-card {
  width: 100%;
}


.additional-zone {
  width: 300px;
}

.upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}


/* ==========product ========== */
#product form{
  width: 100%;
}

.title-product {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  border-right: 20px solid #99ddfc;
  text-align: center;
}

.card {
  width: 200px;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.1s linear;
  padding: 5px;
  height: 144px;
}

.card:hover{
  box-shadow: 1px 1px 5px #00ca02;
}

.checked-card {
  border: 2px solid #051367;
}


.product-container {
  display: flex;
  text-align: center;
  gap: 20px 30px;
  margin: 20px 40px; 
  flex-wrap: wrap;
}

.product-container form {
  display: flex;
  flex-direction: row;
  gap: 20px 30px;
}


.count-product {
  width: 100px;
  margin-bottom: 20px;
}

.product-detail {
  width: 200px;
  height:100px;
  border: 1px solid #000;
  border-radius: 15px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s ease;
}

.product-detail:hover {
  box-shadow: 1px 1px 5px #00ca02;
}

.product-detail h4{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight:bold;
 
}

.product-detail span {
  font-size: 16px;
  font-weight: normal;
  color: rgb(0, 3, 197);
}

/* ============ end product =============== */


/* product card */

.inforCard-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.inforCard-box {
  width: 600px;
  background-color: #00cac666;
  padding: 50px;
  border-radius: 20px;
  margin-left: 29%;
  text-align: center;
  margin-bottom: 40px;
  background-image: linear-gradient(135deg, #ab45f8, #38daf0);
}

.inforCard-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 0;
  font-size: 17.5px;
  color: whitesmoke;
}

.inforCard-content label{
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
  font-weight: 600;
}

.inforCard-content p{
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
}

